* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F9F9FA;
}

.display-mode-none {
  display: none;
}

/* nav bar */
nav {
  background-color: #524649;
  display: flex;
  justify-content: space-between;
}

.page-title-purple {
  color: #afa5cd;
  font-weight: 800;
  padding-left: 25px;
}

.page-title-white {
  color: #FFFFFF; 
  font-weight: 800;
  padding-left: 4px;
}

.search-form {
  display: flex;
  padding: 25px;
}

#search-input {
  border-radius: 5px 0px 0px 5px;
  border: none;
  color: #8A8494;
  outline-color: #afa5cd;
  width: 100%;
}

.search-button {
  background-color: #C2C1C0;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.search-button:hover {
  cursor: pointer;
}

.fa-search {
  color: #FFFFFF;
  padding: 6px;
}

/* create new card section */
header {
  background-color: #EAEAEA;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

label {
  color: #5E5C6B;
  font-weight: 300;
}

.idea-form {
  grid-column: 2/3;
  padding-top: 20px;
}


#title-input {
  height: 4vh;
  border-width: 1px; 
}

#body-input {
  height: 8vh;
}

.inputs {
  border: solid 1px #d4d2d8;
  border-radius: 5px;
  margin-bottom: 18px;
  margin-top: 5px;
  outline-color: #afa5cd;
  width: 100%;
}

.buttons{
  height: 4vh;
  background-color: #5E5C6B;
  border-radius: 5px;
  border-style: solid;
  color: #FFFFFF;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.save-button {
  width: 100%;
}

.buttons:hover {
  cursor: pointer;
}

.save-button:disabled {
  background-color: #808080;
}

.filter-buttons-section {
  display: flex;
}

.filter-button {
  width: 33%;
}

.reset-button {
  background-color: #afa5cd;
}

/* card section */
.show-more-wrapper {
  background-color: #F9F9FA; 
}

.show-more-button {
  margin-left: 20%;
  margin-top: 18px;
  width: 60%;
  margin-bottom: 20px;
}

article {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  max-height: 1600px;
}

.overflow {
  overflow: hidden;
}

.hide-button {
  display: none;
}

.idea-card {
  grid-column: 2/3;
  border-radius: 5px;
  border: solid 2px #d4d2d8; 
  background-color: #FFFFFF;
  margin: 18px 0px;
  height: 14vh;
}

.card-content {
  height: 10vh;
}

.idea-title {
  color: #6E646B;
  font-weight: 800;
  padding: 10px;
  outline: none;
}

.idea-body {
  color: #7C7879;
  font-weight: 300;
  padding-left: 10px;
  outline: none;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px #d4d2d8;
  height: 4vh;
}

.vote {
  display: flex;
  align-items: center;
}

.icon-size {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.downvote-icon {
  margin-left: 10px;
}

.downvote-icon:hover, 
.upvote-icon:hover {
  cursor: pointer;
}

.quality-text, 
.quality-category {
  color: #7C7879;
  font-weight: 600;
  font-size: 14px;
}

.delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .filter-buttons-section {
    flex-direction: column;
  }
  .filter-button {
    width: 100%;
  }
  .idea-form {
    grid-column: 1/4;
    padding: 20px 15px 0px 15px;
  }
  .idea-card {
    grid-column: 1/4; 
    margin: 20px 15px 0px 15px;
  }
}

@media screen and (max-width: 550px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-title-purple {
    padding-left: 0px;
  }
  .search-form {
    width: 93%;
    padding-top: 0px;
  }
}